.color-orange {
    color: orange;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.section-area {
    display: flex;
    margin-bottom: 100px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width {
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;

}

.half-width img {
    width: 100%;
}

.link-button-style {
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 7px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

footer p {
    text-align: center;
}

.box-shadow {
    box-shadow: 10px 20px 20px grey;
    border-radius: 5px;

}

.first-shadow-border {
    border-left: 7px solid tomato;
}

.second-shadow-border {
    border-left: 7px solid blue;
}

.last-bg {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}